<%- include('../includes/header.ejs')%>

<form class="login-form" action="/new-password" method="post">
    <%- include('../includes/error-message.ejs') %>

    <div class="form-group">
        <label for="password">用户密碼</label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
        <small id="passwordHelp" class="form-text text-muted">請輸入用户密碼</small>
    </div>
    <input type="hidden" name="userId" value="<%= userId %>" />
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit" class="btn btn-primary">確認密碼</button>
</form>



<%- include('../includes/footer.ejs')%>